body {
    font-size: 1.65em;
    font-family: Arial;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}
.top {
    text-align: center;
    padding-top: 13%;
}
button {
    width: 35%;
    padding: 2.25em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: .95em;
    background-color: #b6b6b6;
    margin-top: 1%;
}
#entire_form {
    margin-top: 1%;
}
.padding {
    margin-top: 2.5%;
}
.column {
    width: 95%;
    justify-content: space-around;
    flex: 50%;
    padding: .4em;
    display: flex;
    margin-left: 2%;
}
input[type="text"] {
    padding: 1em;
    width: 32.5%;
}
.bottom_text {
    font-size: .5em;
    margin: 1%;
}
#hide {
    margin-top: 1%;
}
#quit {
    margin-top: 1%;
}
#both {
    margin: 0;
}
