<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div id="section" class="top">Study</div>

    <div id="both" class="padding"> {{ timer_val }}:00 </div>

    <button id="hide">Hide timer</button>

    <br>

    <button id="quit">Quit</button>

    <script>
        // runs functions in async so timer completes before refreshing
        (async ()=> {
            await fetch("/newprocess", {method:"GET"});
            await update_timer_display();
            for (let i = 0; i < 6; i++) {
                await fetch_timer();
                await update_timer_display();
            }
            await fetch("/finished_timer", {method:"GET"})
            .then(response=> {
                if (response.ok) {
                    window.location.href = "/finished_timer";
                }
            });
        })();
        
        // use setInterval to decrement timer every second
        async function update_timer_display() {
            return new Promise((response)=> {
                var timer_value = document.getElementById("both").textContent;
                var timer_seconds = (parseInt(timer_value.split(":")[0], 10)) * 60 -1;
                var inc = 0;

                var myfunc = setInterval(function() {
                    var current_time = timer_seconds - inc;
                    var minutes = Math.floor(current_time / 60);
                    var seconds = current_time % 60;
                    document.getElementById("both").innerHTML = minutes.toString() + ":" + seconds.toString().padStart(2, "0");
                    inc ++;
                    if (current_time <= 0) {
                        clearInterval(myfunc);
                        response();
                    }
                }, 1000) 
            });
        }

        // get next timer's value and name from python and reset the timer
        async function fetch_timer() {
            return new Promise((response)=> {
                fetch("/get_timer", {method: "POST"})
                .then(response => response.json())
                .then(data=> {
                    document.getElementById("both").textContent = data.timer_val+":00";
                    document.getElementById("section").textContent = data.text_val
                    response();
                })
            });
        }

        // quit button
        const button = document.getElementById("quit");
        button.addEventListener("click", function() {
            fetch("/authorize", {method: "POST"})
            .then(response=> {
                if (response.ok) {
                    window.location.href = "/authorize";
                }
            });
        });

        // hide / unhide timer button
        const timer_text = document.getElementById("both");
        const hide_timer = document.getElementById("hide");
        hide_timer.addEventListener("click", function() {
            if (timer_text.style.color == "rgb(240, 240, 240)") {
                timer_text.style.color = "rgb(0, 0, 0)";
                hide_timer.textContent = "Hide timer"
            } else {
                timer_text.style.color = "rgb(240, 240, 240)";
                hide_timer.textContent = "Unhide timer"
            }
        });
    </script>
</body>
</html>
